@import url("https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap");

// COLORS
$primary-color: #f12d38;
$secondary-color: #191919;
$text-color: #ffffff;
$text-color-secondary: #999999;

// FONT
$default-font-size: 12px;
$font-family-jost: "Jost", sans-serif;
$font-family-oswald: "Oswald", sans-serif;
$font-family-ubuntu: "Ubuntu", sans-serif;